*{
	font-family: verdana;

}


h1,h2,h3,h4,h5,p{
		color:green;
		
}
h2{
	font-style: oblique;
}

section p.miColor{
	color: blue
}


div p.miColor{
	color: blue;
}

p.colorRosa{
	background: pink;
}

h2.colorRosa, p.colorRosa{
	font-size: 30px;
}